@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e2e34;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
  font-family: "Roboto";
}

.greenText {
  color: #45d282;
}

.purpleText {
  color: #8464f0;
}

#dot {
  position: relative;
  animation: rebound 1s alternate ease;
}

@keyframes rebound {
  0% {
    top: 0px;
  }

  2% {
    top: -10px;
  }

  14% {
    top: -40px;
  }

  26% {
    top: -10px;
  }
  28% {
    top: 0px;
  }

  30% {
    top: -5px;
  }

  42% {
    top: -20px;
  }

  54% {
    top: -5px;
  }

  56% {
    top: 0px;
  }

  58% {
    top: -2px;
  }

  70% {
    top: -10px;
  }

  82% {
    top: -2px;
  }

  84% {
    top: 0px;
  }
}

.sidebar-enter {
  opacity: 0;
  transform: translateX(2000px);
}
.sidebar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.sidebar-exit {
  opacity: 1;
}
.sidebar-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
